@page "/"

<PageTitle> Blazor Squircle DEMO </PageTitle>

<div style="display:flex; gap: 20px;flex-direction:column;padding: 32px;">
    <div style="display:flex; gap: 20px;flex-direction:column;">
        <div style="display:flex;gap: 12px;align-items:end;">
            <div style="display:flex;flex-direction:column;">
                <label for="size">Size</label>
                <input type="range" @bind="_size" id="size" @bind:event="oninput" max="400" min="100" />
            </div>
            <p style="margin: 0;">@_size</p>
        </div>

        <div style="display:flex;gap: 12px;align-items:end;">
            <div style="display:flex;flex-direction:column;">
                <label for="smoothness">Smoothness</label>
                <input type="range" id="smoothness" @bind="_smoothness" @bind:event="oninput" min="0" max="0.4" step="0.01" />
            </div>
            <button @onclick=@(_ => _smoothness = null) disabled="@(_smoothness is null)">Default</button>
            <p style="margin: 0;">@(_smoothness?.ToString() ?? "Default")</p>
        </div>

        <div style="display:flex;gap: 12px;align-items:end;">
            <div style="display:flex;flex-direction:column;">
                <label for="radius">Radius</label>
                <input id="radius" type="range" @bind="_radius" @bind:event="oninput" max="@(_size/2)" min="0" />
            </div>
            <button @onclick=@(_ => _radius = null) disabled="@(_radius is null)">Auto</button>
            <p style="margin: 0;">@(_radius?.ToString() ?? "Auto")</p>
        </div>
    </div>

    <div style="display:flex;border-spacing:20px;gap: 20px;margin-top:48px;">
        <div style="display:flex; gap: 20px;flex-direction:column;">
            <SquircleElement Style="@HalfStyle" Radius="_radius" Smoothness="_smoothness">Squircle</SquircleElement>
            <SquircleElement Style="@Style" Radius="_radius" Smoothness="_smoothness">Squircle</SquircleElement>
        </div>

        <div style="display:flex; gap: 20px;flex-direction:column;">
            <div style="@(HalfStyle+$"border-radius:{_radius??_size/2}px;")">Rectangle</div>
            <div style="@(Style+$"border-radius:{_radius ?? _size/2}px")">Rectangle</div>
        </div>
    </div>
</div>

@code {
    float _size = 100;
    float? _smoothness = null;
    float? _radius = null;

    string HalfStyle => $"background:linear-gradient(0deg, #dd4e83, #28a1aa);width: {_size}px;height:{_size / 2}px;display:flex;align-items: center;justify-content: center;";
    string Style => $"background:linear-gradient(0deg, #dd4e83, #28a1aa);width: {_size}px;height:{_size}px;display:flex;align-items: center;justify-content: center;";
}